



<div>
  <div class="card" style="border-radius: 0px; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);">

    <!-- Card image -->
    <!--      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">-->

    <!-- Card content -->
    <div class="card-body">

      <!-- Title -->
      <h5 class="card-title">Customer Information</h5>
      <!-- Text -->
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="">
              <small  class="form-text text-muted">First Name</small>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label> </label>
              <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="">
              <small  class="form-text text-muted">Last Name</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <form>
              <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">
                <small  class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
            </form>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Email address</label>
              <input type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">
              <small  class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Email address</label>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
              <small  class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
          </div>
        </div>
      </div>
      <!-- Button -->
      <a href="#" class="btn btn-primary">Button</a>


    </div>

  </div>
</div>
