<div>
  <div>
    <h3>Customer Complaint Form</h3>
  </div>
  <div>
    <h5>Customer Information</h5>
  </div>



  <div style="margin: 30px;"><app-card-forms></app-card-forms></div>

  <div style="margin: 30px">
    <div class="row">
      <div class="col">
        <app-card-forms></app-card-forms>
      </div>
      <div class="col">
        <app-card-forms></app-card-forms>
      </div>
    </div>
  </div>


  <div style="margin: 30px;"><app-card-forms></app-card-forms></div>
  <div style="margin: 30px;"><app-card-forms></app-card-forms></div>







</div>
